<div class="title">To Do List</div>

<div class="search">
  <mat-form-field appearance="outline">
    <mat-label>Search task...</mat-label>
    <input matInput name="search" type="text" [(ngModel)]="keySearch" autocomplete="off">
  </mat-form-field>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of arrListTask | filter: keySearch">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <section>
          <mat-checkbox (change)="onChange(item,$event)">{{item.name}}</mat-checkbox>
        </section>
      </mat-panel-title>
      <mat-panel-description>
        <button mat-flat-button color='primary' (click)="detail(item)" style="margin-right: 5px;">Detail</button>
        <button mat-flat-button color='warn' (click)="remove(item.id)">Remove</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form action="" [formGroup]="formTodoList">
      <div class="content-todo-list">
        <div style="margin: 20px;">
          <div class="task-title list-task">
            <mat-form-field appearance="outline">
              <mat-label>Add new task...</mat-label>
              <input matInput formControlName="name" required>
            </mat-form-field>
            <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
              <mat-error *ngIf="form.name.errors && form.name.errors.required">New task is required!</mat-error>
            </div>
          </div>
          <div class="task-description list-task">
            <label>Description</label>
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="description" rows="20" cols="30"></textarea>
            </mat-form-field>
          </div>
          <div class="task-date-select-flx list-task">
            <div class="task-date-select" style="margin-right: 10%;">
              <label>Due Date</label>
              <mat-form-field appearance="outline">
                <input matInput formControlName="date" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="task-date-select">
              <label>Proirity</label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="proirity">
                  <mat-option [value]="1">Normal</mat-option>
                  <mat-option [value]="2">Low</mat-option>
                  <mat-option [value]="3">High</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button class="btn-add" mat-flat-button (click)="update(item.id)">Update</button>
          </div>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>

<div class="action" *ngIf="lstChecked.length > 0 && arrListTask.length > 0">
  <button mat-flat-button color='primary' style="margin-right: 5px;">Done</button>
  <button mat-flat-button color='warn' (click)="removeAction()">Remove</button>
</div>
